<div id="notification-form">
  <div class="container-fluid" id="notification-send-step-1">
    <h2 class="lead text-center" style="margin-top: 1em;"><span class="hidden">Step 1: </span>Configure your notification</h2>
    <div class="row">
      <input type="hidden" id="notification_id" name="notification_id" />
      <div class="col-sm-9 col-sm-offset-1">
        <div class="form-group clearfix">
          <input type="text" class="form-control" name="notification_title" placeholder="Enter notification title" id="notification_title" data-count-selector="#title-count" required/>
          <div class="pull-right text-muted text-success countlabel"><span id="title-count">50</span> character(s) left</div>
          <div class="text-danger notification_title_error hidden">Please enter a notification title</div>
        </div>
        <div class="form-group clearfix">
          <textarea class="form-control" rows="4" name="notification_message" id="notification_message" placeholder="Enter notification message (15 words recommended)" data-count-selector="#message-count" required></textarea>
          <div class="pull-right text-muted text-success countlabel"><span id="message-count">235</span> character(s) left</div>
          <div class="text-danger notification_message_error hidden">Please enter a notification message</div>
        </div>
        <div class="form-group clearfix">
          <div class="checkbox checkbox-icon">
            <input type="checkbox" id="show_link_provider" value="on">
            <label for="show_link_provider">
              <span class="check"><i class="fa fa-check"></i></span> Redirect users to a screen when they open the notification
            </label>
          </div>
        </div>
        <div class="row link-provider-holder hidden">
          <div class="col-xs-12 push-only hidden">
            <div class="alert alert-info"><span class="label label-info">Beta</span> Notification links for push notifications will be coming soon.</div>
          </div>
          <div class="col-xs-7" id="link-provider"></div>
          <div class="col-xs-5 preview-btn-holder">
            <a class="btn btn-secondary preview-target-screen" href="#">Preview target screen</a>
            <p class="text-danger text-center screen-error hidden">Please select a screen</p>
          </div>
        </div>
        <div class="form-group clearfix hidden">
          <div class="checkbox checkbox-icon">
            <input type="checkbox" id="send_notification" value="on" checked>
            <label for="send_notification">
              <span class="check"><i class="fa fa-check"></i></span> Send the notification to the in-app notification inbox
            </label>
          </div>
        </div>
        <div class="alert alert-warning">The <strong>Notification Inbox</strong> component must be added to a screen for your users to see the notifications.</div>
        <div class="form-group clearfix">
          <p><label class="contorl-label">Status</label></p>
          <div class="radio radio-icon">
            <input type="radio" id="notification_status_draft" name="notification_status" value="draft" checked>
            <label for="notification_status_draft">
              <span class="check"><i class="fa fa-circle"></i></span> Draft
            </label>
          </div>
          <div class="radio radio-icon">
            <input type="radio" id="notification_status_published" name="notification_status" value="published">
            <label for="notification_status_published">
              <span class="check"><i class="fa fa-circle"></i></span> Published
            </label>
          </div>
        </div>
        <div class="form-group clearfix hidden" id="push_notification_form_group">
          <div class="checkbox checkbox-icon">
            <input type="checkbox" id="send_push_notification" value="on">
            <label for="send_push_notification">
              <span class="check"><i class="fa fa-check"></i></span> Also send a push notification to the devices
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2 text-center">
        <div id="subscription-note" class="hidden push-only">
          <p>Up to <strong><span id="subscriptions">x</span></strong> registered device(s) will receive this notification. To test push notifications with individual devices, <a href="#" class="enter-subscription-ids">enter subscription IDs</a> for each device.</p>
          <div id="target-subscription-ids" class="hidden">
            <label>Subscription IDs</label>
            <div class="help-block"><small>To find your subscription ID, go to <strong>About this app</strong> in the app on your device.</small></div>
            <input type="text" class="form-control" id="subscription-ids" placeholder="Separate multiple IDs with commas" />
          </div>
        </div>
        <p>
          <a class="btn btn-primary notification-send" href="#">Review &amp; send notification</a>
          <a class="btn btn-secondary notification-cancel" href="#">Cancel</a>
        </p>
        <div class="progress notification-summary-sending">
          <div class="progress-bar progress-bar-success progress-bar-striped"></div>
        </div>
      </div>
    </div>
    <div class="hidden notifications-preview">
      <h4 class="text-center">Your notification</h4>
      <div class="text-center notification-message"></div>
      <div class="push-notification-preview">
        <hr />
        <h4 class="text-center">A push notification will also be sent</h4>
        <p class="text-center"><small class="text-info">Appearance of the notification is subject to users' device, preference and accepting to receive notifications.</small></p>
        <div class="visible-sm-block visible-md-block visible-lg-block message-empty" id="notification-message-preview">
          <img src="{{ asset 'img/notifications_device_preview_empty.jpg' }}" />
          <div id="notification-preview-home">
            <img class="app-icon-preview" src="{{ asset 'img/app-icon.png' }}" />
            <strong class="app-name"></strong>
            <span class="notification-message"></span>
          </div>
          <div id="notification-preview-icon-home">
            <img class="app-icon-preview" src="{{ asset 'img/app-icon.png' }}" />
            <strong class="app-name"></strong>
          </div>
          <div id="notification-preview-lockscreen">
            <img class="app-icon-preview" src="{{ asset 'img/app-icon.png' }}" />
            <strong class="app-name"></strong>
            <span class="notification-message"></span>
          </div>
          <div id="notification-preview-notification-center">
            <img class="app-icon-preview" src="{{ asset 'img/app-icon.png' }}" />
            <strong class="app-name"></strong>
            <span class="notification-message"></span>
          </div>
        </div>
        <div class="visible-xs-block"><img src="{{ asset 'img/notifications_device_preview_mock.jpg' }}" /></div>
        <h4 class="text-warning text-center">Push notifications will be sent to <strong><span class="subscriptions-count"></span></strong> registered devices.</h4>
      </div>
    </div>
  </div>
</div>