<div id="push-notification-form">
  <div class="container-fluid" id="notification-send-step-1">
    <h2 class="lead text-center" style="margin-top: 1em;"><span class="hidden">Step 1: </span>Configure your push notification</h2>
    <div class="row">
      <div class="col-sm-9 col-sm-offset-1">
        <div class="form-group clearfix">
          <input type="text" class="form-control" name="push_notification_title" placeholder="Enter notification title" id="push_notification_title" data-count-selector="#push-title-count" required/>
          <div class="pull-right text-muted text-success countlabel"><span id="push-title-count"></span> character(s) left</div>
          <div class="text-danger push_notification_title_error hidden">Please enter a push notification title</div>
        </div>
        <div class="form-group clearfix">
          <textarea class="form-control" rows="4" name="push_notification_message" id="push_notification_message" placeholder="Enter notification message (15 words recommended)" data-count-selector="#push-message-count" required></textarea>
          <div class="pull-right text-muted text-success countlabel"><span id="push-message-count"></span> character(s) left</div>
          <div class="text-danger push_notification_message_error hidden">Please enter a push notification message</div>
        </div>
        <div class="form-group clearfix hidden">
          <div class="checkbox checkbox-icon">
            <input type="checkbox" id="push_show_link_provider" value="on">
            <label for="push_show_link_provider">
              <span class="check"><i class="fa fa-check"></i></span> Redirect users to a screen when they open the push notification
            </label>
          </div>
        </div>
        <div class="row hidden link-provider-holder">
          <div class="col-xs-7" id="push-link-provider"></div>
          <div class="col-xs-5 preview-btn-holder">
            <a class="btn btn-secondary push-preview-target-screen" href="#">Preview target screen</a>
            <p class="text-danger text-center push-screen-error hidden">Please select a screen</p>
          </div>
        </div>
        <div id="push-notification-badge-increment" class="hidden">
          <span id="push-notification-badge-icon" class="checked"><img class="app-icon-preview" src="{{ asset 'img/app-icon.png' }}" /><label for="push_notification_badge">+1</label></span>
          <div id="notification-badge-label"><label for="push_notification_badge">Increase app icon badge by 1<br>(available for iOS devices only)</label></div>
          <input type="checkbox" name="push_notification_badge" id="push_notification_badge" checked class="bootstrap-switch" data-on-text="Yes" data-on-color="primary" data-off-text="No" data-off-color="default" data-size="small" class="pull-right">
        </div>
      </div>
    </div>
    <div class="hidden">
    <!-- SCHEDULED NOTIFICATION -->
    <h2 class="lead text-center" style="margin-top: 1em;">Step 2: Schedule notification</h2>
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2 text-center">
        <div class="form-group clearfix inline-radio">
          <div class="radio-buttons clearfix">
            <div class="radio radio-icon">
              <input type="radio" id="enable-yes" name="enable_option" value="show">
              <label for="enable-yes">Send my notification now</label>
            </div>
            <div class="radio radio-icon">
              <input type="radio" id="enable-no" name="enable_option" value="no-show">
              <label for="enable-no">Schedule for later</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END: SCHEDULED NOTIFICATION -->
    </div>
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2 text-center">
        <div id="push-subscription-note" class="toHide"><p>Up to <strong><span id="push-subscriptions">x</span></strong> registered device(s) will receive this notification. To test push notifications with individual devices, <a href="#" class="enter-subscription-ids">enter subscription IDs</a> for each device.</p></div>
        <div id="target-push-subscription-ids" class="hidden">
          <label>Subscription IDs</label>
          <div class="help-block"><small>To find your subscription ID, go to <strong>About this app</strong> in the app on your device.</small></div>
          <input type="text" class="form-control" id="push-subscription-ids" placeholder="Separate multiple IDs with commas" />
        </div>
        <p>
          <a class="btn btn-primary notification-send" href="#">Review &amp; send notification</a>
          <a class="btn btn-secondary notification-cancel" href="#">Cancel</a>
        </p>
        <div class="progress notification-summary-sending">
          <div class="progress-bar progress-bar-success progress-bar-striped"></div>
        </div>
      </div>
    </div>
    <div class="hidden notifications-preview">
      <p class="text-center"><small class="text-info">Appearance of the notification is subject to users' device, preference and accepting to receive notifications.</small></p>
      <div class="visible-sm-block visible-md-block visible-lg-block message-empty" id="notification-message-preview">
        <img src="{{ asset 'img/notifications_device_preview_empty.jpg' }}" />
        <div id="notification-preview-home">
          <img class="app-icon-preview" src="{{ asset 'img/app-icon.png' }}" />
          <strong class="app-name"></strong>
          <span class="notification-message"></span>
        </div>
        <div id="notification-preview-icon-home">
          <img class="app-icon-preview" src="{{ asset 'img/app-icon.png' }}" />
          <strong class="app-name"></strong>
        </div>
        <div id="notification-preview-lockscreen">
          <img class="app-icon-preview" src="{{ asset 'img/app-icon.png' }}" />
          <strong class="app-name"></strong>
          <span class="notification-message"></span>
        </div>
        <div id="notification-preview-notification-center">
          <img class="app-icon-preview" src="{{ asset 'img/app-icon.png' }}" />
          <strong class="app-name"></strong>
          <span class="notification-message"></span>
        </div>
      </div>
      <div class="visible-xs-block"><img src="{{ asset 'img/notifications_device_preview_mock.jpg' }}" /></div>
      <h4 class="text-warning text-center">Your are about to send push notifications to <strong><span class="subscriptions-count"></span></strong> registered device(s).<br>Are you sure?</h4>
    </div>
  </div>
  <div id="notification-send-step-2" class="hidden">
    <p class="lead text-center" style="margin-bottom: 1em;"><strong class="text-primary">Step 2:</strong> When do you want your users to see the notification?</p>
    <div>
      <ul class="nav nav-pills text-center" id="push-schedule-options">
        <li data-option="asap" class="active"><a href="#notification-asap" data-toggle="tab"><span class="glyphicon glyphicon-ok-sign"></span> ASAP</a></li>
        <li data-option="scheduled"><a href="#notification-scheduled" data-toggle="tab"><span class="glyphicon glyphicon-ok-sign"></span> Schedule for later</a></li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane active" id="notification-asap"></div>
        <div class="tab-pane" id="notification-scheduled">
          <div class="form-group">
            <div class="row">
              <div class="col-xs-12">
                <p class="lead text-center" style="margin-top:20px;margin-bottom:10px;">Pick a date and time below</p>
              </div>
              <div class="col-sm-8">
                <div id="pushDatetimepicker"><input type="datetime" class="hidden" name="notification_datetime" id="notification_datetime" /></div>
              </div>
              <div class="col-sm-4 text-center" style="padding-top: 80px;">
                <div class="btn-group-vertical">
                  <input type="radio" class="hidden" name="push_notification_timezone" id="push_notification_timezone_local" value="local" checked />
                  <input type="radio" class="hidden" name="push_notification_timezone" id="push_notification_timezone_gmt" value="gmt" />
                  <label class="btn btn-default" for="push_notification_timezone_local" id="push_notification_timezone_local_label"><span class="glyphicon glyphicon-ok-sign"></span> Local to user's timezone</label>
                  <label class="btn btn-default" for="push_notification_timezone_gmt" id="push_notification_timezone_gmt_label"><span class="glyphicon glyphicon-ok-sign"></span> GMT</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>