\{{#each jobs}}
<div class="row report-wrapper">
  <div class="col-xs-9">
    <div>
      <p class="report-notification-title">\{{title}}</p>
      <p class="report-notification-message">\{{message}}</p>
      \{{#if screenName}}
        <p class="report-notification-screen"><strong>Target screen:</strong> \{{screenName}}</p>
      \{{/if}}
      <div class="more-details">
        <a href="#">See more details</a>
      </div>
    </div>
  </div>
  <div class="col-xs-3">
    <div class="report-status report-notification-scheduled hidden">
      <div class="date-info">
        <i class="fa fa-calendar-check-o fa-fw"></i>
        <div><strong>Scheduled on</strong></div>
        <div><span class="notification-scheduled-date"></span></div>
      </div>
    </div>
    <div class="report-status report-notification-sent">
      <div class="date-info">
        <i class="fa fa-paper-plane fa-fw"></i>
        <div><strong>Sent on</strong></div>
        <div><span class="notification-scheduled-date">\{{createdAt}}</span></div>
      </div>
    </div>
    <div class="report-status report-notification-tobe hidden">
      <div class="date-info">
        <i class="fa fa-clock-o fa-fw"></i>
        <div><strong>To be sent on</strong></div>
        <div><span class="notification-scheduled-date"></span></div>
      </div>
    </div>
  </div>
  <div class="col-xs-12">
    <div class="report-other-details">
      <div class="report-recipients">
        <p>N<sup>o</sup> Recipients (iOS/Android/Win10) <span class="question-icon" data-toggle="tooltip" data-placement="auto bottom" title="Number of devices that registered top receive push notification from the app."><i class="fa fa-question-circle"></i></span></p>
        <p class="report-recipients-data">\{{recipientsCount}} (\{{sentApple}}/\{{sentGoogle}}/\{{sentWindows}})</p>
      </div>
      <div class="report-delivery">
        <p>Accepted for delivery <span class="question-icon" data-toggle="tooltip" data-placement="auto bottom" title="Number of push notification requests accepted by Apple/Google/Microsoft to deliver to the devices. Push notification requests may be rejected if the device registered is no longer valid."><i class="fa fa-question-circle"></i></span></p>
        <p class="report-delivery-data">\{{deliveredCount}} (\{{deliveryPerct}}%)</p>
      </div>
      <div class="report-batch">
        <p>Batches (Sent/Total) <span class="question-icon" data-toggle="tooltip" data-placement="auto left" title="Fliplet sends the push notifications to Apple/Google/Microsoft in batches. This shows the number of batches that have been processed and sent."><i class="fa fa-question-circle"></i></span></p>
        <p class="report-batch-data">\{{batchesSent}}/\{{batchesCount}}</p>
      </div>
    </div>
  </div>
</div>
\{{/each}}
